body {
    width: 100vw;
    display: flex;
}

#todo-list {
    height: 90vh;
    background-color: cornsilk;
    flex: 1;
    padding: 10px;
    margin:10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#user-list {
    height: 90vh;
    background-color: cornsilk;
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.8em;
}

#items {
    height: 90vh;
    background-color: cornsilk;
    flex: 4;
    padding: 10px;
    margin: 10px;
    overflow: auto;
}

.list-button {
    padding: 0.5em 1em;
    margin: 0.3em 0;
    text-align: left;
}

.list-item {
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: antiquewhite;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 0;
}

.date {
    color: red;
    text-decoration: underline;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 25%;
    top: 25%;
    width: 50%;
    height: 25%;
    overflow: auto;
    background-color: moccasin;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid grey;
}

.modal-content {
    padding: 20px;
    width: 90%;
    margin: auto;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 95%;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input#name {
    margin-right: 30px;
}

#new-list {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    padding: 0.7em;
}